<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Anexo II (res 487/2002)</title>
    <meta name="author" content="Cluster 311, cluster311.com">


<style>
    div {
        border: 1px solid black;
        text-align: center;
        padding: 5px;
        display: inline;

    }
    .row {
        display: block;
        width: 100%;
        margin: 0px;
    }
    
    
    </style>
  </head>
  <body>
    <h2>Anexo II</h2>
    <div>

<div class='row'>
    <div>COMPROBANTE DE ATENCIÓN DE BENEFICIARIOS DE OBRAS SOCIALES</div>
    <div>FECHA</div>
    <div>
        <div>DIA</div>
        <div>MES</div>
        <div>AÑO</div>
    </div>
</div>

<div class='row'>
    <div>Coso 2</div>
    <div>El segundo</div>
</div>

    </div>
  </body>
</html>